@tailwind base;
@tailwind components;
@tailwind utilities;

.html{

    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

.navbar{

@apply flex items-center justify-between w-full fixed top-0 z-10 h-[5.4rem] p-[3.2rem];

}
.nav_link{

@apply text-sm font-semibold text-[#181b21] mx-[0.8rem] px-[0.8rem] py-[0.4rem] rounded-[0.8rem] 
bg-transparent hover:bg-[#181b21] hover:bg-opacity-10 transition-all duration-300;
}
.car_section{

    @apply w-full h-screen;
}

.car_img{

    @apply w-full h-full object-cover;
}

.car_detail{
    @apply absolute top-[20%] left-[50%] text-center;
}

.transform_50{

    transform: translate(-50%,-50%);
}
.model_name{

    @apply text-[4rem] text-[#393c41] font-semibold;
}

.tag_line{
    @apply text-[#4c4cd51] text-2xl;
}